[submodule "gn10_can"]
	path = gn10_can
	url = https://github.com/ararobo/gn10-can
[submodule "gn10-stm32-fdcan-driver"]
	path = gn10-stm32-fdcan-driver
	url = https://github.com/ararobo/gn10-stm32-fdcan-driver
